.home-container{
    background-color: #f3f3f3;
    padding-top: 20px;
    .card{
        padding: 20px;
        border-radius: 3px;
        margin: auto;
        margin-bottom: 10px;
        max-width: 800px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);    }
    button{
        padding: 10px;
        color: #fff;
        background-color: #0f62fe;
        border: 1px solid transparent;
        width: 154px;
        position: fixed;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .row{
        display: flex;
    }
    .list-title {
        margin-left: 10px;
        font-size: 24px;
        color: #46535e;
        font-weight: normal;
        text-align: center;
    }
    p{
        color: #46535e;
    }
    .card-title{
        font-size: 16px;
        font-weight: 600;
    }
    hr{
        max-width: 800px;
        margin-bottom: 0px;
        background-color:rgba(156,163,168,0.4);
        height: 1px;
        border: none;
    }
    h4{
        color: #46535e;
        text-align: center;
    }
}